* {
    margin: 0;
    padding: 0;
    color: #7b7b7b;
}
a {
    color: #fff;
    text-decoration: none;
}
ul {
    list-style: none;
}
h1, h2, h3 {
    color: #dcdcdc;
}
section span {
    color: #18aebf;
}
html, body {
    height: 100%;
}
header {
    height: 100%;
    background-image: url("../img/header-slider-one.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
}
nav {
    height: 15%;
}
.site-name {
    height: 70%;
}
.bottom-icon {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.site-name h1 {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 0 -12px 5px #595959;
}
.top-navigation {
    display: flex;
}
.social-icon, .top-menu {
    flex: 1;
}
.top-menu {
    flex: 6;
    justify-content: center;
}
.social-icon ul, .top-menu ul {
    height: 100%;
    text-transform: uppercase;
}
.social-icon ul, .top-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon ul li {
    padding: 0 10px;
}
.top-menu ul li {
    padding: 24px 0px;
}
.top-menu ul li a{
    padding: 24px 20px;
}
.top-menu ul li a:hover{
    color: rgba(255, 255, 255, 0.8);
}
.social-icon img,
.bottom-icon img {
    width: 48px;
}
.upcoming-show {
    background-color: rgba(27, 27, 27, 1);
}
.title {
    text-align: center;
    padding: 80px 0 60px;
}
.title h2 {
    font-size: 3rem;
    padding-bottom: 5px;
} 
div.events {
    padding: 80px 0;
}
ul.events {
    margin: 0 200px;
    border-bottom: 1px solid #dcdcdc;
}
.events ul li {
    height: 70px;
    line-height: 70px;
}
.events-information {
    display: flex;
    text-transform: uppercase;
}
ul.events-information li {
    display: flex;
    flex: 1;
    justify-content: center;
}
.new-album-release {
    background-color: #151515;
}
.media {
    display: flex;
    padding: 80px 0;
}
.image img {
    max-width: 400px;
}
.image, .audio {
    flex: 1;
}
.image {
    text-align: right;
    margin: 0 10px;
}
.audio {
    text-align: left;
    margin: 0 10px;
}
.audio h4 {
    margin-bottom: 10px;
}
.song {
    margin-bottom: 10px;
}
audio {
    max-width: 80%;
}